/* src/app/globals.css */
:root {
    --font-sans: "Gotham Book", "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background-color: #ffffff;
    /* Ant Design sẽ tự lo phần màu sắc còn lại */
}

a {
    text-decoration: none;
    color: inherit;
}